.vid {
    width: 90%;
    height: 80vh;
    object-fit: cover;
    border-radius: 10px;
    margin-inline: auto;
}

.myVid {
    width: 250px;
    position: absolute;
    right: 20px;
    bottom: 100px;

}

.myVidTile {
    border: 2px solid lightsteelblue;
    border-radius: 10px;
}